<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Messaging Yeah</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section id="container"></section>

    <script type="text/template" id="loginTemplate">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <h3>Login</h3>

            <form id="loginForm" class="form-horizontal" action="javascript:;" method="POST">
              <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                  </div>
                  <input type="text" class="form-control" name="username" placeholder="username">
                </div>
              </div>

              <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                  </div>
                  <input type="password" class="form-control" name="password" placeholder="password">
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="layoutTemplate">
      <section id="header"></section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li><a href="#!/new">New Message</a></li>
              <li><a href="#!/">Inbox</a></li>
              <li><a href="#!/sent">Sent</a></li>
            </ul>
          </div>

          <div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="headerTemplate">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Messaging Yeah</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="glyphicon glyphicon-bullhorn"></i>
                  <% if(notifications.length > 0) { %>
                    <span class="badge"><%= notifications.length %></span>
                  <% } %>
                </a>
                <% if(notifications.length > 0) { %>
                <ul class="dropdown-menu">
                  <% _.each(notifications,function(n, i) { %>
                    <li><a href="javascript:;" class="notif-item" data-index="<%= i %>" data-id="<%= n.id %>"><%= n.content %></a></li>
                  <% }); %>
                </ul>
                <% } %>
              </li>
              <li><a href="javascript:;"><%= user.username %></a></li>
              <li><a href="#!/logout">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="Search...">
            </form>
          </div>
        </div>
      </nav>
    </script>

    <script type="text/template" id="inboxTemplate">
      <h3>Your Inbox</h3>
    </script>

    <script type="text/template" id="sentTemplate">
      <h3>Your Sent Messages</h3>
    </script>

    <script type="text/template" id="newMessageTemplate">
      <h3>New Message</h3>
      <form id="newMessageForm" class="horizontal-form" action="javascript:;" method="POST">
        <div class="form-group">
          <label for="destination">To: </label>
          <input type="text" class="form-control" name="destination" placeholder="to">
        </div>
        <div class="form-group">
          <label for="content">Message: </label>
          <textarea class="form-control" name="content" placeholder="Message"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/underscore/underscore-min.js"></script>
    <script src="assets/backbone/backbone-min.js"></script>
    <script src="messaging.js"></script>
  </body>
</html>
